<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Dados Básicos</ion-title>

    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        title="Usar geolocalização do dispositivo"
        aria-label="Obter coordenadas e endereço pela localização"
        (click)="obterLocalizacao()"
        *ngIf="!model!.isConcluido() && !model!.isArquivado()"
        [disabled]="loadingGeolocalizacao"
      >
        <ion-icon slot="icon-only" name="locate" aria-hidden="true" size="large"></ion-icon>
      </ion-button>
      <ion-spinner name="bubbles" color="primary" *ngIf="loadingGeolocalizacao"></ion-spinner>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="form"  (ngSubmit)="salvar(form.value)">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="12">
          <ion-item lines="none">
            <ion-select label="Tipo de Laudo" labelPlacement="floating"
              okText="Selecionar" cancelText="Fechar"
              interface="action-sheet"
              formControlName="tipoExame"
            >
              <ion-select-option *ngFor="let item of model!.tipos_exame" [value]="item">
                <b>{{item}}</b></ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="6" size-md="2">
          <ion-item lines="none">
            <ion-input label="Ano" labelPlacement="floating" placeholder="XXXX" formControlName="protocoloAno"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size-xs="6" size-md="4">
          <ion-item lines="none">
            <ion-input
              #protocoloInput
              label="Protocolo"
              labelPlacement="floating"
              placeholder="XXXXX"
              formControlName="protocolo"
              (ionBlur)="completarComZeros('protocolo')"
              class="input-protocolo"
            ></ion-input>

            <ion-button
              fill="clear"
              title="Clique para obter dados do protocolo"
              aria-label="Obter dados do protocolo"
              (click)="carregarProtocolo()"
              *ngIf="!(this.model!.isConcluido() && !this.model!.isArquivado()) && (form.get('protocolo')?.value ?? '').toString().trim().length > 0 && (form.get('protocoloAno')?.value ?? '').toString().trim().length > 0"
            >
              <ion-icon slot="icon-only" name="search" aria-hidden="true" size="large"></ion-icon>
            </ion-button>

            <ion-spinner name="bubbles" color="primary" *ngIf="loadingProtocolo"></ion-spinner>
          </ion-item>
        </ion-col>

        <ion-col size-xs="6" size-md="4">
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Data da Perícia</ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" formControlName="data" presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>

        <ion-col size-xs="6" size-md="2">
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Hora Chegada</ion-label>
            <ion-datetime-button datetime="hora"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="hora" formControlName="hora" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-select label="Cidade" labelPlacement="floating"
              okText="Selecionar" cancelText="Fechar"
              interface="action-sheet"
              formControlName="cidade"
            >
              <ion-select-option *ngFor="let item of cidades" [value]="item">
                <b>{{item}}</b></ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col  size="12"  *ngIf="form.get('cidade')!.value == 'MANAUS'">
          <ion-item>
            <mat-form-field  style="width:100%">
              <mat-label>Bairro</mat-label>
              <input type="text" 
                  matInput 
                  aria-label="Bairro"
                  formControlName="bairro" 
                  [matAutocomplete]="auto"
                  class="native-input sc-ion-input-md"
              />
            </mat-form-field>
            
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of (bairrosOptions | async)" 
                    [value]="option"  >{{option}}</mat-option>
            </mat-autocomplete> 
                
          </ion-item>
        </ion-col>

        <ion-col  size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Local/Logradouro</ion-label>
            <ion-input placeholder="Endereço ou Local" formControlName="endereco" ></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Ponto de Referência</ion-label>
            <ion-input formControlName="pontoref" ></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6" size-md="6">
          <ion-item lines="none">
            <ion-input
              label="Latitude"
              labelPlacement="floating"
              placeholder="-3.xxxxxxx"
              type="text"
              inputmode="decimal"
              formControlName="latitude"
            ></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6" size-md="6">
          <ion-item lines="none">
            <ion-input
              label="Longitude"
              labelPlacement="floating"
              placeholder="-60.xxxxxxx"
              type="text"
              inputmode="decimal"
              formControlName="longitude"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <form class="form" [formGroup]="form"  (ngSubmit)="salvar(form.value)">
      <ion-button
        class="submit-btn" type="submit"  color="success" expand="block"
        [disabled]="!form.valid" >Avançar
      </ion-button>
    </form>
  </ion-toolbar>
</ion-footer>
