<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" *ngIf="user; else loading">
  <ion-card *ngIf="user.pendingRegistration" color="warning">
    <ion-card-header>
      <ion-card-title>Cadastro pendente</ion-card-title>
      <ion-card-subtitle>Conclua sua conta em Conta antes de alterar estas opções.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <form *ngIf="form && !user.pendingRegistration" [formGroup]="form" (ngSubmit)="salvar()">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input
            label="Pasta no Google Drive para imagens"
            labelPlacement="floating"
            formControlName="driveImageFolder"
            autocomplete="off"
            autocorrect="off"
          ></ion-input>
        </ion-item>
        <ion-note class="ion-margin-horizontal ion-padding-bottom" color="medium">
          Nome da pasta em Meu Drive (padrão: {{ DEFAULT_DRIVE_IMAGE_FOLDER }}). O aplicativo cria subpastas por ano do protocolo dentro dela.
        </ion-note>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ng-template #loading>
  <ion-content class="ion-padding">Carregando...</ion-content>
</ng-template>

<ion-footer *ngIf="form && user && !user.pendingRegistration">
  <ion-toolbar>
    <ion-button
      type="submit"
      expand="block"
      color="success"
      [disabled]="form.invalid"
      (click)="salvar()"
    >
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>
