<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Preservação</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="form">
    <form class="form" [formGroup]="form!"  (ngSubmit)="tentarSalvar()">
        <ion-grid>
            <ion-row>
                <ion-col size-xs="12" size-md="12">
                    <ion-list-header position="floating" color="light">
                        Presentes no Local
                    </ion-list-header>
                    <div formArrayName="presentes">
                        <ion-row *ngFor="let _ of presentesArray.controls; let i = index" [formGroupName]="i" class="presente-bloco">
                            <ion-col size="12" class="presente-toolbar">
                                <ion-button type="button" fill="clear" color="danger" size="small" (click)="removerPresente(i)" [attr.aria-label]="'Remover presente ' + (i + 1)">
                                    <ion-icon name="trash-outline" slot="start"></ion-icon>
                                    Remover
                                </ion-button>
                            </ion-col>
                            <ion-col size-xs="12" size-md="6">
                                <ion-item>
                                    <ion-select
                                        label="Órgão"
                                        labelPlacement="floating"
                                        okText="Selecionar"
                                        cancelText="Fechar"
                                        formControlName="orgaoTipo">
                                        <ion-select-option *ngFor="let o of orgaosSelect" [value]="o">{{ o }}</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                            <ion-col size-xs="12" size-md="6">
                                <ion-item [class.ion-invalid]="getNomeControl(i)?.invalid && getNomeControl(i)?.touched">
                                    <ion-input label="Nome" labelPlacement="floating" formControlName="nome"></ion-input>
                                    <ion-note slot="error" *ngIf="getNomeControl(i)?.invalid && getNomeControl(i)?.touched" color="danger">
                                        Informe o nome
                                    </ion-note>
                                </ion-item>
                            </ion-col>
                            <ion-col size="12" *ngIf="isOrgaoOutro(i)">
                                <ion-item [class.ion-invalid]="presentesArray.at(i).errors?.['orgaoOutro'] && presentesArray.at(i).touched">
                                    <ion-input label="Qual órgão?" labelPlacement="floating" formControlName="orgaoOutro"></ion-input>
                                    <ion-note slot="error" *ngIf="presentesArray.at(i).errors?.['orgaoOutro'] && presentesArray.at(i).touched" color="danger">
                                        Informe o órgão
                                    </ion-note>
                                </ion-item>
                            </ion-col>
                            <ion-col size-xs="12" size-md="4">
                                <ion-item>
                                    <ion-input label="Cargo" labelPlacement="floating" formControlName="cargo"></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col size-xs="12" size-md="4">
                                <ion-item>
                                    <ion-input label="Origem" labelPlacement="floating" formControlName="origem"></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col size-xs="12" size-md="4">
                                <ion-item>
                                    <ion-input label="Veículo" labelPlacement="floating" placeholder="VTR / viatura" formControlName="veiculo"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </div>
                    <ion-row>
                        <ion-col size="12" class="acoes-presentes">
                            <ion-button type="button" fill="outline" size="small" expand="block" (click)="abrirMenuAdicionarPresente()">
                                Adicionar presente
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col  size-xs="12" size-md="12">
                    <ion-list-header position="floating" color="light">
                        Condições de preservação e isolamento
                    </ion-list-header>
                    <ion-row>
                        <ion-col   size-xs="12" size-md="6">
                            <ion-item>
                                <ion-select
                                    label="Preservação"
                                    labelPlacement="floating"
                                    okText="Selecionar"
                                    cancelText="Fechar"
                                    formControlName="preservacao">
                                    <ion-select-option *ngFor="let item of model!.preservacoes" [value]="item">{{item}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col   size-xs="12" size-md="6">
                            <ion-item>
                                <ion-select
                                    label="Isolamento"
                                    labelPlacement="floating"
                                    okText="Selecionar"
                                    cancelText="Fechar" 
                                    formControlName="isolamento" >
                                    <ion-select-option *ngFor="let item of model!.isolamentos" [value]="item">{{item}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col  size="12">
                            <ion-item>
                                <ion-label position="floating" color="primary">Condições do Local</ion-label>
                                <ion-textarea
                                    formControlName="condicoes" >
                                </ion-textarea>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-col>     
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
<ion-footer>
    <form class="form" [formGroup]="form!" (ngSubmit)="tentarSalvar()">
        <ion-button
            class="submit-btn"
            type="submit"
            color="primary"
            expand="block"
            [disabled]="form!.invalid"
        >Salvar
        </ion-button>
    </form>
</ion-footer>
