<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Requisição</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content *ngIf="form">
    <form class="form" [formGroup]="form!"  (ngSubmit)="salvar(form.value)">
      <ion-grid>
        <ion-row>
          <ion-col  size-xs="12" size-md="12">
              <ion-item>
                  <ion-input
                    label="Número da Requisição"
                    labelPlacement="floating"
                    placeholder="XXXX/XX"
                    formControlName="requisicaoNumero"
                    ></ion-input>
              </ion-item>
          </ion-col>
          <ion-col  size-xs="12" size-md="6">
              <ion-item>
                  <ion-input
                    label="DIP/Requisitante"
                    labelPlacement="floating"
                    placeholder="XXXXX"
                    formControlName="dipOrigem"
                    ></ion-input>
              </ion-item>
          </ion-col>
          <ion-col  size-xs="12" size-md="6">
              <ion-item>
                  <ion-input
                    label="DIP de Destino"
                    labelPlacement="floating"
                    placeholder="Deixe em branco se mesmo de origem"
                    formControlName="dipDestino"
                    ></ion-input>
              </ion-item>
          </ion-col>
          <ion-col  size-xs="12" size-md="4">
            <ion-item>
                <ion-label position="floating" color="primary">Data do Recebimento</ion-label>
                <ion-datetime-button datetime="dtRecebimento"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                        <ion-datetime id="dtRecebimento" formControlName="dtRecebimento" presentation="date"></ion-datetime>
                    </ng-template>
                </ion-modal>
            </ion-item>
          </ion-col>
          <ion-col  size-xs="12" size-md="6">
              <ion-item>
                  <ion-input
                    label="IP"
                    labelPlacement="floating"
                    placeholder="IP/BO/RO"
                    formControlName="ip"
                    ></ion-input>
              </ion-item>
          </ion-col>
          <ion-col  size-xs="12" size-md="12">
              <ion-item lines="none">
                  <ion-label position="stacked">Autoridade Policial</ion-label>
                  <ion-searchbar
                    placeholder="Pesquisar"
                    formControlName="delegado"
                    [debounce]="300"
                    (ionInput)="handleDelegadoInput($event)"
                    (ionClear)="handleDelegadoClear()"
                  ></ion-searchbar>
              </ion-item>
              <ion-list *ngIf="delegadoResults.length">
                @for (result of delegadoResults; track result) {
                <ion-item button (click)="selectDelegado(result)">
                  <ion-label>{{ result }}</ion-label>
                </ion-item>
                }
              </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list>
               
        <ion-toolbar color="light">
            <ion-buttons slot="end">
                <ion-button (click)="adicionarQuesito()">Adicionar</ion-button>
            </ion-buttons>
            <ion-title>Quesitos</ion-title>
        </ion-toolbar>

        <ion-item *ngIf="model!.quesitos.length == 0">
            Nenhum quesito adicionado.
        </ion-item>

        <ion-item button *ngFor="let item of model!.quesitos; let i = index" (click)="editarQuesito(item)">
            <ion-label>{{i+1}}. {{item.pergunta}}</ion-label>
            <ion-label><i>R: {{item.resposta}}</i></ion-label>
            <ion-button  
                fill="clear"
                (click)="deleteQuesito(i)"
                    >
                <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
            </ion-button>
        </ion-item>
      </ion-list>
    </form>   
</ion-content>

<ion-footer>
    <form class="form" [formGroup]="form!"  (ngSubmit)="salvar(form!.value)">
      <ion-button 
          class="submit-btn" type="submit"  color="primary" expand="block" 
          [disabled]="form!.invalid"> Salvar
      </ion-button>
    </form>
</ion-footer>
