<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="fechar()">Fechar</ion-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="form" [scrollY]="false">
  <div
    class="mapa-container"
    *ngIf="visao && (visao === MapaVisao.CORPO_FRENTE || visao === MapaVisao.CORPO_VERSO || imagemSrc)"
  >
    <object
      *ngIf="visao === MapaVisao.CORPO_FRENTE"
      class="mapa-croqui"
      type="image/svg+xml"
      data="assets/mapas/corpo-frente/corpo-frente.svg"
      aria-label="Mapa corpo (frente)"
      title="Corpo (frente)"
    ></object>
    <object
      *ngIf="visao === MapaVisao.CORPO_VERSO"
      class="mapa-croqui"
      type="image/svg+xml"
      data="assets/mapas/corpo-verso/corpo-verso.svg"
      aria-label="Mapa corpo (verso)"
      title="Corpo (verso)"
    ></object>
    <img
      *ngIf="visao !== MapaVisao.CORPO_FRENTE && visao !== MapaVisao.CORPO_VERSO"
      class="mapa-imagem"
      [src]="imagemSrc"
      alt="Mapa"
      [attr.title]="visao"
    />
  </div>
  <p class="mapa-erro" *ngIf="!visao">Parâmetro de visão inválido ou ausente.</p>
</ion-content>
