<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Imagens</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="toggleOrdem()" color="success" *ngIf="(model!.imagens && model!.imagens.length > 0) && !reorder">
                Reordenar
            </ion-button>

            <ion-button (click)="toggleOrdem()" color="success" *ngIf="(model!.imagens && model!.imagens.length > 0) && reorder">
                Concluir
            </ion-button>
        </ion-buttons> 
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="model">
    <div *ngIf="reorder && model!.imagens && model!.imagens.length > 0">
        <ion-reorder-group #reorderGroup (ionItemReorder)="doReorder($event)" disabled="false">
            <ion-reorder *ngFor="let item of model!.imagens; let i = index">
                <ion-item>
                    <div class="ion-text-center" style="width:100%; margin-bottom: 10px; margin-top: 10px">
                        <img [src]="item.imagem" class="img-preview" *ngIf="item.imagem" height="150px"><br>
                        <ion-spinner name="circles"  *ngIf="!item.imagem"></ion-spinner>          
                        <ion-label>{{item.legenda}}</ion-label>
                    </div>

                    <ion-reorder slot="end"></ion-reorder>
                </ion-item>
            </ion-reorder>
        </ion-reorder-group>
    </div>

    <div *ngIf="!reorder && model!.imagens && model!.imagens.length > 0">
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let item of model.imagens; let i = index">
                    <ion-item  (click)="editarImagem(i)" >
                        <div class="ion-text-center" style="width:100%; margin-bottom: 10px; margin-top: 10px">
                            <img [src]="item.imagem" class="img-preview" *ngIf="item.imagem" height="150px"><br>
                            <ion-spinner name="circles"  *ngIf="!item.imagem"></ion-spinner>
                            
                            <ion-label>{{item.legenda}}</ion-label>
                        </div>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="driveLocationVisible" class="drive-location ion-margin-top">
        <ion-note color="medium">
            <p class="drive-location-title">Local no Google Drive</p>
            <p class="drive-location-path">{{ driveImagesLocationLabel }}</p>
        </ion-note>
    </div>

    <ion-row class="ion-align-items-center" style="height: 100%">
        <ion-col>
            <div *ngIf="(!model.imagens || model.imagens.length === 0) && !imagesProcessing" id="txt-imagens">
                Nenhuma imagem cadastrada para este caso.
            </div>
        </ion-col>
    </ion-row>

    <!-- Galeria: sem capture para permitir multi-seleção e biblioteca de fotos em mobile -->
    <input type="file" id="inputGaleria" accept="image/*" multiple
           (change)="onSelectGallery($event)" style="visibility: hidden"/>
    <!-- Câmera traseira; multiple ajuda em alguns browsers Android -->
    <input type="file" id="inputCamera" accept="image/*" capture="environment" multiple
           (change)="onSelectCamera($event)" style="visibility: hidden"/>
</ion-content>

<ion-footer *ngIf="!reorder">
    <ion-toolbar>
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-padding-horizontal ion-padding-bottom">
                <ion-col size="12">
                    <ion-button (click)="selecionarImagens()" color="primary" expand="block"
                                title="Selecionar Vários" [disabled]="imagesProcessing">
                        Adicionar Imagem(ns)
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>