<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      
    <ion-title>IMAGEM - {{titulo}}</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="crop()" *ngIf="imageLoaded && !cropperEnabled">
          <ion-icon name="cut-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="rotate()" *ngIf="imageLoaded && !cropperEnabled">
          <ion-icon name="sync-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="doCrop()" *ngIf="cropperEnabled">
          <ion-label>OK</ion-label>
      </ion-button>

      <ion-button (click)="destroyCrop()" *ngIf="cropperEnabled">
          <ion-label >Desfazer</ion-label>
      </ion-button>

      <ion-button (click)="firearmDetection()" *ngIf="imageLoaded && !cropperEnabled" title="Identificar perfurações">
          <ion-icon name="sparkles-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="remover()" *ngIf="this.imagem !== null">
          <ion-label><ion-icon name="trash"></ion-icon> Remover</ion-label>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item  *ngIf="!cropperEnabled">
      <div class="img-container">
          <img #image [src]="imageSource"  id="imageSource" crossorigin="anonymous"
            alt="Adicionar Imagem" width="100%" height="100%"
            style="object-fit: contain">
      </div>
    </ion-item>

    <ion-grid  *ngIf="!cropperEnabled">
        <ion-row>
          <ion-col size="12">
            <ion-item>
                <ion-input label="Legenda" labelPosition="floating" [(ngModel)]="legenda"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    </ion-grid>

    <div class="cropper-container" *ngIf="cropperEnabled">
      <cropper-canvas background style="height: 100%">
        <cropper-image [src]="imageSource" alt="Picture" rotatable scalable skewable translatable></cropper-image>
        <cropper-shade hidden></cropper-shade>
        <cropper-handle action="select" plain></cropper-handle>
        <cropper-selection id="cropperSelection" initial-coverage="0.5" movable resizable>
          <cropper-grid role="grid" covered></cropper-grid>
          <cropper-crosshair centered></cropper-crosshair>
          <cropper-handle action="move" theme-color="rgba(255, 255, 255, 0.35)"></cropper-handle>
          <cropper-handle action="n-resize"></cropper-handle>
          <cropper-handle action="e-resize"></cropper-handle>
          <cropper-handle action="s-resize"></cropper-handle>
          <cropper-handle action="w-resize"></cropper-handle>
          <cropper-handle action="ne-resize"></cropper-handle>
          <cropper-handle action="nw-resize"></cropper-handle>
          <cropper-handle action="se-resize"></cropper-handle>
          <cropper-handle action="sw-resize"></cropper-handle>
        </cropper-selection>
      </cropper-canvas>
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button expand="block" color="success" (click)="salvar()">Salvar</ion-button>
  </ion-toolbar>
</ion-footer>
